.form {
  margin: 1rem;
  max-height: 30rem;
  overflow: auto;

  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.form h2 {
  margin: 0;
}

.control {
  margin-bottom: 0.5rem;
}

.control:nth-child(2) {
  grid-column: 1 / 2;
  grid-row: 2;
}

.control:nth-child(3) {
  grid-column: 1 / 2;
  grid-row: 3;
}

.control:nth-child(4) {
  grid-column: 1 / 2;
  grid-row: 4;
}

.control:nth-child(5) {
  grid-column: 1 / 2;
  grid-row: 5;
}

.control:nth-child(6) {
  grid-column: 1 / 2;
  grid-row: 6;
}

.control:nth-child(7) {
  grid-column: 1 / 2;
  grid-row: 7;
}

.control label {
  font-weight: bold;
  margin-bottom: 0.25rem;
  display: block;
}

.control input {
  font: inherit;
  width: 100%;
}

.invalid input {
  border: 1px solid #b40e0e;
  background-color: #fddddd;
}

.invalid input:focus {
  border-color: #ff8800;
  background-color: #fbe8d2;
  outline: none;
}

.error-text {
  margin: 0;
  color: #b40e0e;
  font-size: 0.9rem;
}

.actions {
  grid-column: 1 / 2;
  grid-row: 8;
  display: flex;
  justify-content: flex-end;
  column-gap: 1rem;
}

/* desktop view */
@media (min-width: 768px) {
  .form {
    grid-template-columns: repeat(4, 1fr);
  }

  .control:nth-child(2) {
    grid-column: 1 / 3;
    grid-row: 2;
  }

  .control:nth-child(3) {
    grid-column: 3 / 5;
    grid-row: 2;
  }

  .control:nth-child(4) {
    grid-column: 1 / 3;
    grid-row: 3;
  }

  .control:nth-child(5) {
    grid-column: 3 / 5;
    grid-row: 3;
  }

  .control:nth-child(6) {
    grid-column: 1 / 4;
    grid-row: 4;
  }

  .control:nth-child(7) {
    grid-column: 4 / 5;
    grid-row: 4;
  }

  .control label {
    font-weight: bold;
    margin-bottom: 0.25rem;
    display: block;
  }

  .actions {
    grid-column: 1 / 5;
    grid-row: 5;
  }
}

.actions button {
  font: inherit;
  cursor: pointer;
  border-radius: 25px;
  padding: 0.5rem 2rem;
}

.actions .submit {
  background-color: #ffc529;
  border: 1px solid #ffc529;
  color: #272d2f;
}

.actions .submit:hover,
.actions .submit:active {
  background-color: #f3b714;
  border-color: #f3b714;
}

.actions .button--alt {
  background-color: #fe724c;
  border: 1px solid #fe724c;
  color: white;
}

.actions .button--alt:hover,
.actions .button--alt:active {
  background-color: #f06b46;
  background-color: #f06b46;
}
