.form {
  margin: 1rem 0;
  max-height: 20rem;
  overflow: auto;
}

.control {
  margin-bottom: 0.5rem;
}

.control label {
  font-weight: bold;
  margin-bottom: 0.25rem;
  display: block;
}

.control input {
  font: inherit;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 20rem;
  max-width: 100%;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.actions button {
  font: inherit;
  cursor: pointer;
  border-radius: 25px;
  padding: 0.5rem 2rem;
}

.actions .submit {
  background-color: #ffc529;
  border: 1px solid #ffc529;
  color: #272d2f;
}

.actions .submit:hover,
.actions .submit:active {
  background-color: #f3b714;
  border-color: #f3b714;
}

.actions .button--alt {
  background-color: #fe724c;
  border: 1px solid #fe724c;
  color: white;
}

.actions .button--alt:hover,
.actions .button--alt:active {
  background-color: #f06b46;
  background-color: #f06b46;
}

.invalid label {
  color: #ca3e51;
}

.invalid input {
  border-color: #aa0b20;
  background-color: #ffeff1;
}
