.confirmation-dialog h2 {
  text-align: center;
}

.emoji {
  font-size: 2rem;
}

.confirmation-dialog p {
  color: #939398;
  text-align: center;
  font-size: 0.9rem;
}

.confirmation-dialog button {
  font: inherit;
  cursor: pointer;
  display: block;
  margin-left: auto;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  font-weight: bold;
  background-color: #ffc529;
  border: 1px solid #ffc529;
  color: #272d2f;
}

.confirmation-dialog button:hover,
.confirmation-dialog button:active {
  background-color: #f3b714;
  border-color: #f3b714;
}
