.form {
    text-align: right;
}

.form button {
    font: inherit;
    cursor: pointer;
    background-color: #ffc529;
    border: 1px solid #ffc529;
    color: #272d2f;
    padding: 0.25rem 2rem;
    border-radius: 20px;
    font-weight: bold;
}

.form button:hover,
.form button:active {
    background-color: #f3b714;
    border-color: #f3b714;
}