.search-container {
  position: relative;
}

/* override Input component style */
.search-container input {
  width: 100%;
  padding: 1rem 3.5rem;
  margin: 0 auto;
  background: #f7f6f44d;
}

.icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.search-icon {
  left: 1rem;
  color: gray;
}

.clear-icon {
  right: 1rem;
  color: gray;
  cursor: pointer;
}

.clear-icon:hover {
  color: #272d2f;
}
